:root {
  --shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.15);
  --border: 1px solid hsla(0, 0%, 13%, 0.2);
  --shift: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
* {
  box-sizing: border-box;
}

/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: #ae1332;
}

/* Phone styles & > */

.container {
  min-width: 320px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Tablet styles & > */
/* @media only screen and (min-width: 768px) {
  .container {
    max-width: 744px;
  }
} */

/* Desktop styles & > */
/* @media only screen and (min-width: 1280px) {
  .container {
    max-width: 1250px;
  }
} */

/* Hero */
.hero {
}

.hero-container {
  position: relative;
  background-image: url(../images/hero/ban-mobile@1x.png), url(../images/hero/straw-mobile@1x.png);
  background-position: top 50px left, top right;
  background-repeat: no-repeat;
  padding-top: 48px;
}

.hero-title {
  position: absolute;
  top: 0;
  text-transform: uppercase;
  text-align: center;
  color: white;

  width: 335px;

  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.04em;

  z-index: 5;
}

/* .hero-picture {
  border-radius: 500px;
  margin-left: auto;
  margin-right: auto;
} */

section {
  padding: 56px;
}

.img-wrap {
  position: relative;
  width: 330px;
  height: 490px;
  padding: 10px 14px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(to top, rgb(174, 19, 50) 77%, rgb(174 19 50 /0) 85%);
}

.img-wrap::before {
  content: "";
  position: absolute;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  background-image: linear-gradient(359.94deg, #ffffff -1.7%, rgba(255, 255, 255, 0.441769) 30.64%, rgba(255, 255, 255, 0) 76.92%);
  z-index: -1;
}

.img-wrap .inner {
  overflow: hidden;
}

.img-wrap,
.img-wrap::before,
.img-wrap .inner {
  border-radius: 500px;
}

.hero-btn {
  position: absolute;
  bottom: 0;
}

.fruit-element.watermelon {
  background-color: #a4cb66;
}

.fruit-element.strawberry {
  background-color: #f5ce13;
}

/* label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
} */

/* input {
  padding: 8px;
} */

/* button {
  display: block;
}

.user-email {
  margin-bottom: 5px;
}

form {
  width: 28rem;
  margin: 1rem;
  padding: 2rem 1rem;
  text-align: center;
  box-shadow: var(--shadow);
}
label {
  display: block;
  margin-bottom: 1.75rem;
  position: relative;
}
input {
  width: 100%;
  height: 2.5rem;
  padding: 1rem 0.75rem;
  border: var(--border);
  border-radius: 0.25rem;
  outline: none;
}
span {
  font-size: 0.875rem;
  letter-spacing: 0.01rem;
  color: #757575;

  position: absolute;
  top: 50%;
  left: 2.625rem;
  transform: translateY(-50%);
  transition: var(--shift);
}

label:focus-within > span,
input:not(:placeholder-shown) + span {
  font-size: 0.75rem;
  letter-spacing: 0.01rem;
  color: #2196f3;
  transform: translate(-1.5rem, -2.3rem);
}
button {
  --h: 3.125rem;
  height: var(--h);
  line-height: var(--h);
  min-width: 12.5rem;
  padding: 0 2rem;
  text-align: center;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.06rem;
  color: #fff;
  background-color: #2196f3;
  box-shadow: var(--shadow);
  border-style: none;
  border-radius: 4px;
  cursor: pointer;
  transition: var(--shift);
}

.rounded-corners-gradient-borders {
  width: 300px;
  height: 80px;
  border: double 4px transparent;
  border-radius: 80px;
  background-image: linear-gradient(white, white), radial-gradient(circle at top left, #f00, #3020ff);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.border {
  border-image: linear-gradient(98deg, teal, #ff000000) 1;
  border-width: 4px;
  border-style: solid;
  width: 300px;
  text-align: center;
  margin-bottom: 20px;
} */
